.calculator {
  display: grid;
  grid-template-columns: 1.2fr 1.2fr 1.1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "result result result result"
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    "zero zero . .";
  max-width: 500px;
  min-width: 300px;
}

.zero {
  grid-area: zero;
}

.calculator div {
  display: flex;
  border: 1px grey solid;
  align-items: center;
  height: 50px;
}

.calculator div:not(.result) {
  justify-content: center;
}

.calculator div:not(.result, .orange) {
  background-color: rgb(224, 224, 224);
}

.result {
  grid-area: result;
  justify-content: end;
  background-color: rgb(133, 134, 148);
  color: white;
}

.orange {
  background-color: rgb(245, 144, 62);
}
